/* Basic Reset */
body, html, #root {
    font-family: Arial, sans-serif;
    background-color: #eff3f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* App Container */
.App {
    text-align: center;
}

/* Main Image Styling */
.main-image img {
    width: 100%;
    height: auto;
}

.main-image p {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Description Section Styling */
.description {
    padding: 20px;
}

.description-details {
    display: flex;
    justify-content: space-around;
}

.description-item {
    width: 30%;
}

.description-item img {
    width: 100%;
    height: auto;
}

.description-item p {
    margin-top: 10px;
    font-size: 18px;
}

/* Price Review Section Styling */
.price-review {
    padding: 20px;
}

.price-review h2 {
    margin-bottom: 20px;
}

.price-review-details {
    display: flex;
    justify-content: space-around;
}

.price-review-item {
    width: 30%;
    text-align: left;
}

.price-review-item h3 {
    margin-bottom: 10px;
}

/* Customer Categories Section Styling */
.customer-categories {
    padding: 20px;
}

.customer-categories table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.customer-categories table, th, td {
    border: 1px solid black;
}

.customer-categories th, td {
    padding: 10px;
    text-align: left;
}

/* Customer Feedback Section Styling */
.customer-feedback {
    padding: 20px;
}

.customer-feedback form {
    background-color: #4A90E2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}
.customer-feedback h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.customer-feedback label {
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.customer-feedback input, .customer-feedback select, .customer-feedback textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.customer-feedback button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.customer-feedback button:hover {
    background-color: #218838;
}

.customer-feedback button:focus {
    outline: none;
}
